@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Font and color */
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #353839;
}
/* logo & nav bar */
nav {
    background-color: white;
    height: 80px;
    width: 100%;
}
label.logo {
    color: #353839;
    font-size: 200%;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #353839;
    font-size: 150%;
    font-weight: 900;
    text-transform: uppercase;
    padding: 30px 25px;
    line-height: 1;
    transition: 0.3s;
}
nav li a:hover {
    box-shadow: 0 -5px  0px #353839 inset,
    400px 0 0 rgba(255,255,255, 0.03) inset;
    padding: 30px 25px 30px 25px;
}
.checkbtn {
    font-size: 30px;
    color: #353839;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/*Main picture in a section */

.mainpicture {
    background: url(../images/mainpicture.webp) no-repeat center center;
    background-size: cover;
    height: calc(50vh - 80px);   
    overflow: hidden;
}
/*center slogan*/
/* Slogan zoom effect
I initially got into a bug, when using scale from 1 to 1.3, solved by starting at 0.7 and finishing at 1 
*/
.slogan {
    color:white;
    font-weight: bold;
    letter-spacing: 1rem;
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    line-height: calc(50vh - 80px);
    width: 100%;
    /*animation slogan*/
    animation-name: slogan-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* ethos section*/
.ethos-title {
    text-align: center;
    margin: 60px 0 60px 0;
    font-size: 4vw;
    text-transform: uppercase;
}

/* From uiverse.io by @Cornerstone-04 */
button {
    position: relative;
    background: none;
    border: solid 1px #121212;
    transition: linear 250ms;
    width: 170px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    vertical-align: super;
    top: 7px;
}
  
button:is(:hover,:focus) {
    color: #fff;
}
  
button::after {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-color: #121212;
    transform-origin: left;
    transform: scaleX(0);
    transition: linear 250ms;
}
  
button:is(:hover, :focus)::after {
    transform: scale(1);
}
/* ethos container*/
.ethoscontainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
}
.ethoscontainer2 {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    width: 90%;
}
.ethos1 {
    width: 50%;
}
.ethos1 img {
    width: 100%;
    height: auto;
}
.ethos2 {
    width: 50%;
}
.ethos2 h2{
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    padding: 10% 10% 2%;
}
.ethos2 p{
    padding: 2% 10% 10%;
    text-align: justify;
    font-size: 1.5vw;
}
/* grid*/
.container-places {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}
.places-item {
    background: white;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.places-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card-content {
    padding: 2.5rem;
}
.places-box img {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.places-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #353839;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
.places-text {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.2;
}
.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #353839;
    background-color: white;
    border: none;
    border-radius:  0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* img on the grid items */
.card-img {
    display: block;
    width: 100%;
    height:30vw;
    object-fit: cover;
}
/* footer element */
.footer {
    width: 100%;
    padding: 40px 0;
    background-color: white;
 }

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #353839;
}
.footer .social a {
    font-size: 30px;
    color: inherit;
    border: 1px solid  #353839;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
}
.footer .social a:hover {
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
    text-transform: uppercase;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer .copyright {
    text-align: center;
    font-size: 15px;
    color: inherit;
}

@keyframes slogan-zoom {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

@media (max-width: 992px) {
    label.logo {
        font-size: 200%;
        padding-left: 50px;
    }
    .checkbtn {
        display: block;
    }
    nav ul li a {
        font-size: 16px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#DBDBDB;
        
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 200%;
    }
    nav ul li a:hover {
        background: none;
        color: white;
    }
    #check:checked ~ ul {
        left: 0;
    }
    #check:checked{
        overflow-y: hidden;
    }
    .ethos-title {
        font-size: 250%;
    }
    .ethoscontainer {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
    .ethoscontainer2 {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
    .ethos1 {
        width: 100%;
    }
    .ethos1 img {
        width: 100%;
        height: auto;
    }
    .ethos2 {
        width: 100%;
    }
    .ethos2 h2{
        text-transform: uppercase;
        text-align: center;
        padding: 5% 0 2.5%;
        font-size: 250%;
    }
    .ethos2 p{
        padding: 2.5% 0 5%;
        text-align: justify;
        font-size: 150%;
    }
    .container-places {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 30px;
        justify-items: center;
        gap: 30px;
    }
    .places-item {
        width: 100%;
    }
    footer {
        min-width: 90%;
    }    
}
@media (max-width: 768px){
    .label.logo {
        font-size: 150%;
    }
    .checkbtn {
        display: block;
    }
    .slogan {
        color:white;
        font-weight: bold;
        font-size: 10vw;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        width: 100%;
        /*animation slogan*/
        animation-name: slogan-zoom;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }    
    @keyframes slogan-zoom {
        from {
            transform: scale(0.7);
        }
        to {
            transform: scale(1);
        }
    }
    .container-places {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 10px;
        justify-items: center;
    }
    .places-item {
        width: 95%;
    }
    .footer {
        min-width: 100%;
    }
}